.message {
    margin-top: 55px;
    margin-right: 40px;
    display: flex;
    justify-content: right;
    position: relative;

}

.imageAndText {
    display: flex;
    align-items: center;

}

.imageAndText img {
    width: 48px;
    height: 48px;
    order: 2;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;


}

.text {
    background-color: #06C;
    border-radius: 5px;
    padding: 7px 13px 8px 13px;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.text:after {

}

.name {
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;

}

.messageText {

}

.time {
    position: absolute;
    bottom: -20px;
    right: 5px;

}